<h1>Grocery List</h1>
<p>Add an item to your list by typing below:</p>

<%= form_for :list do |l| %>
  <%= l.text_field :name %>
  <%= l.submit "Add" %>
<% end %>

<h3> Items: </h3><br />
<% @lists.each do |l| %>
<%= l.name %><br />
<% end %>
