<div class="panel panel-primary">
  <div class="panel-heading">
    <div class="panel-title"><h2>Sign Up!</h2></div>
  </div><br />
  <div class="container">
    <%= render 'form' %>
  </div><br />
</div>
<%= link_to 'Back', root_path %>